<ion-header>
  <ion-toolbar>
    <ion-title>New Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
        <ion-item>
          <ion-label position="floating">Title: </ion-label>
          <ion-input [(ngModel)]="modalTitle"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Notes: </ion-label>
          <ion-input [(ngModel)]="modalNotes"></ion-input>
        </ion-item>
        <ion-datetime [(ngModel)]="modalDate"></ion-datetime>
        <ion-item>
          <ion-label position="floating">Priority: </ion-label>
          <ion-select [(ngModel)]="modalPriority">
            <ion-select-option value="0">None</ion-select-option>
            <ion-select-option value="1">Low</ion-select-option>
            <ion-select-option value="2">Medium</ion-select-option>
            <ion-select-option value="3">High</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row>
          <ion-col text-center>
            <ion-back-button></ion-back-button>
            <ion-button (click)="closeModal()">Add Event</ion-button>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
